<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body background="/gradient.jpg">
    <p style="font-size:55px;text-transform:uppercase;letter-spacing:10;color:whitesmoke;">Home Page</p><br><br><br>
    <div class="r">
      <p style="font-size:25px;letter-spacing:1;">Register to the website by clicking the link below.</p>
      <p><button class="button button1" onclick="window.location.href='/register';" style="width:150px;height:45px;text-transform:uppercase">Register</button></p>
      <br><br>
      <p style="font-size:25px;letter-spacing:1;">Already have an account,Login to the website by clicking the link below.</p>
       <p><button  class="button button2" onclick="window.location.href='/login';" style="width:150px;height:45px;text-transform:uppercase">Login</button></p>
    </div>
  </body>
</html>
