<html>
  <head>
    <title>Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
    body{
      margin:0;
      padding:0;
    }
  </style>
  </head>
  <body>
    <div style="border:1px solid grey;margin:5px;padding:50px;">
    <p>Login Failed</p>
    <p>You have entered invalid roll number or password.</p><br>
    <a href="/login">Try Again ?</a>
  </div>
  </body>
</html>
