body
{
  margin:0;
  padding:0;
  background-image:linear-gradient(to bottom right,#09EBA7,#02BAF6);
}

nav
{
position:relative;
float:right;
margin-right:80px;
}

ul li
{
  list-style-type:none;
  display:inline-block;
  padding:25px 45px;;
  margin-top:7px;
}

header li a
{
  text-decoration:none;
  font-size:15px;
  text-transform:uppercase;
  color:white;
}

p
{
margin:0;
padding:0;
}

.main
{
margin-right:530px;
margin-left:80px;
border:1px solid #252140;
padding:50px;
border-radius:7px;
background-color:white;
width:500px;
height:450px;
background-color:white;
}

.btn
{
flex: 1 1 auto;
text-align:center;
transition:0.5s;
background-size:200% auto;
color:white;
border-radius:5px;
}

.btn-3
{
background-image: linear-gradient(to right,#05AFF2 0%, #71D99E 51%, #05AFF2 100%);
}

.btn:hover
{
background-position: right center;
color:black;
}

.form-control
{
position:relative;
outline:none;
}

header
{
height:80px;
width:1536px;
background-color:#21282E;
}

section
{
height:685px;
width:1536px;
}